@using ToDoList.Client.Components
@using ToDoList.Shared
@page "/todo"
<!-- Temp Card-->
@*<h3>
        <input placeholder="Title" @bind="cardTitle" @onkeyup="@(e => AddCard(e))" />
    </h3>*@

<div class="card col-md-4" style="background-color:bisque;margin:0 auto;" @onkeyup="@(e => AddCard(e))">
    <div class="card-header">
        @if (tempCard.Title != null)
            {
        <h3>@tempCard.Title</h3>
            }
    </div>
    <div class="card-body">
        <ul style="list-style: none;">
            @if (tempCard.Items != null)
        {
            @foreach (var item in tempCard.Items)
            {
            <li>
                <input type="checkbox" @bind="item.IsDone" />
                @if (item.IsDone)
                    {
                <del>@item.Task</del>
                    }
                    else
                    {
                @item.Task
                    }
            </li>
            }
        }
        </ul>
    </div>

    <h2>
        @if (tempCard.Title == null)
    {
        <input placeholder="Title" @bind="newTodo" @onkeyup="@(e => AddItem(e))" />
    }
    else
    {
        <input placeholder="I will do this...." @bind="newTodo" @onkeyup="@(e => AddItem(e))" />
    }
    </h2>

</div>

@*Component Card*@
@foreach (var card in cardLst)
    {
        <div >
            <ToDoCard  card="@card" />
        </div>
    }
@*End*@

@code{

    //Temp Card
    private TodoCardModel tempCard = new TodoCardModel();
    public string cardTitle { get; set; }
    private string newTodo { get; set; }
    //end


    private List<TodoCardModel> cardLst = new List<TodoCardModel>();
    private List<TodoItemModel> itemLst = new List<TodoItemModel>();

    private void AddItem(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            if (tempCard.Title == null)
            {
                tempCard.Title = newTodo;
            }
            else
            {
                tempCard.Items.Add(new TodoItemModel() { Task = newTodo });
            }
            newTodo = null;
        }
    }

    private void AddCard(KeyboardEventArgs e)
    {
        if (e.Key == "Escape")
        {
            if (!string.IsNullOrWhiteSpace(tempCard.Title))
            {
                TodoCardModel test = new TodoCardModel() { Title = tempCard.Title, Items = tempCard.Items };
                cardLst.Add(test);
                tempCard.Title = null;
                tempCard.Items = new List<TodoItemModel>();
            }
        }
    }
}
