@using ToDoList.Client.Components
@using ToDoList.Shared
@page "/todo"
<!-- Temp Card-->
@*<h3>
        <input placeholder="Title" @bind="cardTitle" @onkeyup="@(e => AddCard(e))" />
    </h3>*@

<div style="background-color:cyan">
    @if (tempCard.Title != null)
    {
        <h3>@tempCard.Title</h3>
    }
    <ul style="list-style: none;">
        @if (tempCard.Card != null)
        {
            @foreach (var item in tempCard.Card)
            {
                <li>
                    <input type="checkbox" @bind="item.IsDone" />
                    @if (item.IsDone)
                    {
                        <del>@item.Task</del>
                    }
                    else
                    {
                        @item.Task
                    }
                </li>
            }
        }
    </ul>
</div>

<h2>
    @if (tempCard.Title == null)
    {
        <input placeholder="Title" @bind="newTodo" @onkeyup="@(e => AddItem(e))" />
    }
    else
    {
        <input placeholder="I will do this...." @bind="newTodo" @onkeyup="@(e => AddItem(e))" />
    }
</h2>

<!--End-->
<!--Component Card-->
@*@foreach (var card in cardLst)
    {
        <div>
            <ToDoCard Title="@cardTitle" />
        </div>
    }*@
<!--End-->


@code{

    //Temp Card
    public TodoCardModel tempCard = new TodoCardModel();
    public string cardTitle { get; set; }
    private string newTodo { get; set; }
    //end


    private List<TodoCardModel> cardLst = new List<TodoCardModel>();
    private List<TodoItemModel> itemLst = new List<TodoItemModel>();

    private void AddItem(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            if (tempCard.Title == null)
            {
                tempCard.Title = newTodo;
            }
            else
            {
                tempCard.Card.Add(new TodoItemModel() { Task = newTodo });
            }
            newTodo = null;
        }
    }

    private void AddCard(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            if (!string.IsNullOrWhiteSpace(cardTitle))
            {
                tempCard.Title = cardTitle;
                cardTitle = string.Empty;

                cardLst.Add(tempCard);


                //passing to card component part
                //TodoItemModel item = new TodoItemModel();
                //TodoCardModel cc = new TodoCardModel();
                //cardLst.Add(new TodoCardModel { Title = cardTitle });
            }
        }
    }
}