@page "/ToDoCard"
@using ToDoList.Shared
@inject IJSRuntime JSRuntime

    

<div class="item" @ref="cardRef" style="border-radius:10px; background-color: @card.BackgroundColor; color:@card.TextColor;">
    <div class="pin">
        <span class="material-icons" @onclick="() => PushPin(cardIndex)">
            push_pin
        </span>
    </div>
    <textarea class="item-txt-area" type="text" @ref="cardTitleTextAreaRef" @bind="card.Title" @oninput="AutoResizeTextAreaHeight"  @onkeydown='(e => Blur(e , cardRef) )'         
              rows="1" style="resize:none; font-size:25px; font-weight:500; display:flex; overflow:hidden; min-height:10px; flex-direction:column; justify-content:center;text-align:center; border:none; background-color: @card.BackgroundColor ; color:@card.TextColor;width:100%;" />
    <ul style="list-style: none; padding:10px; padding-top:0;">
        @foreach(var item in card.Items)
        {
            <li style="padding-top:1px;">
                <div style="display:flex; width:100%;">
                    <div>
                        <style>
                            .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true]) ~ .mdc-checkbox__background {
                                background-color: white !important;
                            }
                        </style>
                        <MatCheckbox @bind-Value="item.IsDone"></MatCheckbox>
                    </div>
                    @if (item.IsDone)
                    {
                <textarea class="item-txt-area" value="@item.Task" @oninput='(e => {item.Task = e.Value.ToString(); })' @onkeydown='(e => Blur(e , cardRef))'  rows="1"
                          style="text-decoration:line-through; display:flex;flex-direction:column; justify-content:center; width:inherit;resize:none; padding-left:10px; padding-top:8px; overflow:hidden; min-height:10px;border:none; background-color: @card.BackgroundColor; color:@card.TextColor; width:100%;" />
                    }
                    else
                    {
                        //this works  binding
                <textarea class="item-txt-area" value="@item.Task" @oninput='(e => {item.Task = e.Value.ToString(); })' @onkeydown='(e => Blur(e , cardRef))'  rows="1"
                          style="display: flex; flex-direction: column; justify-content:center; width: inherit; resize:none; padding-left: 10px; padding-top:8px; overflow:hidden; min-height:10px;border:none; background-color: @card.BackgroundColor; color:@card.TextColor;width:100%;" />
                    }
                </div>
            </li>
        }

        @{ var textColor = "color:" +  card.TextColor + ";"; }
    <li>
        <MatTextField InputStyle="@textColor" FullWidth="true" PlaceHolder=" Let's do this" @bind-Value="@newTodo" @onkeyup="(e => AddToDo(e))" @onclick:stopPropagation="true"></MatTextField>
    </li>
    </ul>
    
    <div>
        <input type="color" class="color-picker" id="@colorPickerId" @bind="card.TextColor" style="width: 0;height: 0; visibility:hidden" />
        <span class="material-icons" @onclick="() => OpenColorPicker(colorPickerId)" style="cursor: pointer;">
            color_lens
        </span>
        <span class="material-icons" style="cursor: pointer;" @onclick="() => DeleteCard(cardIndex)" data-card-index="@cardIndex">
            delete
        </span>
    </div>
</div>



@code {

    ElementReference cardRef;
    ElementReference cardTitleTextAreaRef;

    public bool isPinned { get; set; } = false;
    private string newTodo;
    public string Title { get; set; }
    public List<TodoItemModel> itemLst = new List<TodoItemModel>();

    [Parameter]
    public bool isPinnedComponent { get; set; }
    [Parameter]
    public TodoCardModel card { get; set; }

    [Parameter]
    public int cardIndex { get; set; }

    [Parameter]
    public EventCallback<int> OnDeleteClicked { get; set; }

    [Parameter]
    public EventCallback<int> OnPushPinClicked { get; set; }

    private string colorPickerId { get { return "colorPicker" + card.CardNo; } }

    public List<TodoCardModel> cardLst = new List<TodoCardModel>();

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
        {
            InitializeColorPickerEvent(cardRef);
        }
        ActivateMagicGrid();
        JSRuntime.InvokeVoidAsync("UIJsLibraryFunctions.AutoResizeTextArea", cardRef);
    }

    protected override void OnInitialized()
    {
        JSRuntime.InvokeVoidAsync("UIJsLibraryFunctions.initializeColorPickerEvent", cardRef);
    }

    private void AutoResizeTextAreaHeight()
    {
        JSRuntime.InvokeVoidAsync("UIJsLibraryFunctions.AutoResizeTextAreaHeight", cardTitleTextAreaRef);
    }

    private void InitializeColorPickerEvent(ElementReference cardRef)
    {
        JSRuntime.InvokeVoidAsync("UIJsLibraryFunctions.initializeColorPickerEvent", cardRef);
    }

    private void ActivateMagicGrid()
    {
        JSRuntime.InvokeVoidAsync("UIJsLibraryFunctions.activateMagicGrid");
    }
    private void OpenColorPicker(string colorPickerId)
    {
        JSRuntime.InvokeVoidAsync("UIJsLibraryFunctions.openColorPicker", colorPickerId, DotNetObjectReference.Create(this));
    }

    private void Blur(KeyboardEventArgs e , ElementReference cardRef)
    {
        if(e.Key == "Enter")
        {
            JSRuntime.InvokeVoidAsync("UIJsLibraryFunctions.blur" , cardRef);
        }
    }

    private void AddToDo(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            if (!string.IsNullOrWhiteSpace(newTodo))
            {
                card.Items.Add(new TodoItemModel { Task = newTodo });
                newTodo = string.Empty;
            }
        }
    }

    private void DeleteCard(int cardIndex)
    {
        OnDeleteClicked.InvokeAsync(cardIndex);
    }

    private void PushPin(int cardIndex)
    {
        card.IsPinned = !card.IsPinned;
        OnPushPinClicked.InvokeAsync(cardIndex);
    }

    [JSInvokable]
    public void SetBackgroundColor(string backgroundColor, string textColor)
    {
        card.BackgroundColor = backgroundColor;
        card.TextColor = textColor;
        
        StateHasChanged();
    }
}

